VodafoneSDK/VodafoneSDK.xcodeproj/project.xcworkspace/xcuserdata/*
HESampleApp/HESampleApp.xcodeproj/project.xcworkspace/xcuserdata/*
HESampleApp/HESampleApp.xcodeproj/xcuserdata/*
VodafoneSDK/VodafoneSDK.xcodeproj/xcuserdata/*
